header
{
    margin-left: 10px;
    font-family: 'Satisfy', cursive;
    font-weight: normal;
    text-align: center;
}

h1
{
    font-size: 60px;
    margin: 15px 0 10px;
}

header p
{
    font-size: 26px;
    margin: 0;
}

input.display
{
    display: none;
}

label[for='display']::before
{
    content: '';
    margin-left: 10px;
    display: inline-block;
    width: 64px;
    height: 64px;
    cursor: pointer;
}

@keyframes scaleMenu
{
    50%
    {
        transform: scale(1.1);
    }
}

label[for='display']:hover::before
{
    animation-name: scaleMenu;
    animation-duration: 1s;
}

input.display:not(:checked) + label[for='display']::before
{
    background: url('list.png');
}

input.display:not(:checked) ~ .cats > .cat-card
{
    display: inline-block;
    width: 500px;
}

input.display:not(:checked) ~ .cats > .cat-card > img
{
    width: 500px;
}

input.display:not(:checked) ~ .cats .tile
{
    display: block;
}

input.display:not(:checked) ~ .cats .list
{
    display: none;
}

input.display:checked + label[for='display']::before
{
    background: url('tiles.png');
}

input.display:checked ~ .cats > .cat-card
{
    display: block;
    width: 650px;
}

input.display:checked ~ .cats > .cat-card > img
{
    width: 650px;
}

input.display:checked ~ .cats .tile
{
    display: none;
}

input.display:checked ~ .cats .list
{
    display: block;
}

.cat-card
{
    width: 500px;
    margin: 10px;
    overflow: hidden;
}

.cat-card:hover
{
    box-shadow: 3px 3px 5px 3px darkslategray;
}

.cat-card .description
{
    padding: 0 0 10px;
    margin: 0 20px;
    color: darkslategray;
}

.cat-card h2
{
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-property: color, transform;
    transition-duration: .25s, .25s;
}

.cat-card h2:hover
{
    color: red;
    transform: scale(1.1) translateX(20px);
}

.cat-card p
{
    font-size: 20px;
    margin: 10px 0;
    line-height: 24px;
    transition-property: color;
    transition-duration: .25s;
}

.cat-card p:hover
{
    color: red;
}

.cat-card > img
{
    width: 500px;
}

@keyframes swingImg
{
    25%
    {
        transform: rotate(10deg);
    }

    75%
    {
        transform: rotate(-10deg);
    }
}

.cat-card > img:hover
{
    animation-name: swingImg;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
